[build]
  command = "npm run build"
  publish = ".next"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[functions."send-reminders"]
  schedule = "0 * * * *"

[[redirects]]
  from = "/api/payment/verify"
  to = "/.netlify/functions/payment-verify"
  status = 200

[[redirects]]
  from = "/api/send-purchase-confirmation"
  to = "/.netlify/functions/send-purchase-confirmation"
  status = 200

[[redirects]]
  from = "/api/send-registration-email"
  to = "/.netlify/functions/send-registration-email"
  status = 200

[[redirects]]
  from = "/api/cron/send-reminders"
  to = "/.netlify/functions/send-reminders"
  status = 200